{
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": ["airbnb-typescript", "plugin:react/recommended"],
  "plugins": ["react"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/comma-dangle": "off",
    "@typescript-eslint/lines-between-class-members": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/indent": "off",
    "class-methods-use-this": "off",
    "max-classes-per-file": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-cycle": "off",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  }
}
